h1{
   
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

div.subscribe{
    
    border-radius: 10px;
}
div.image{
    background-image:url(./img/back.jpg);
    
}

div.ava{
    margin-left: 45%;
    background-image: none;
    
}

img.avatar{

    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h3.nickname{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

div.subscribers{
    display: flex;
    
}

ul{
    display: flex;
}

li.atitle{
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
}

img.avas{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.bio{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.works{
    display: flex;
}

div.book{
    border: 0px solid black;
    width: 250px;
    margin: 20px;
}

img.cover{
    width: 200px;
    border-radius: 15px;
}